body {
       padding-top: 49px;
       font-family: sans-serif;
   }
   /* Remove the navbar's default margin-bottom and rounded borders */
   
   .navbar {
       margin-bottom: 0;
       border-radius: 0;
       background-color: #000000 !important;
   }
}

/* Add a gray color to all navbar links  */
.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 559px;
   
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #323333;
    height: 100%;
    color: #323333;
    background-image: url("../images/music_bk.jpg");
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;

    }
    
    .row.content {
        height: auto;
    }
}
.aboutme {
    /*background-color: darkblue;*/
    text-align: center;
    color: white;
    background-image: url("../images/vector-backgrounds.jpg");
}

#restart {
    background-color: blue;
    text-shadow: :bold;
    margin:5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

/* Keep it simple - improvement would be to not display characters */
.letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 2px solid white;
    text-align: center;
    color: black;
    opacity: 3;
}
.current-word {
    list-style: none;
}
.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: green;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}
